@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* html {
  background-color: #540b03;
  #492c2c
  #5e3c3c
  #7d4242
  #513030
  #774141
  #7e4343
} */

html {
  background-image: url('/background-img.png');
  background-size: cover;
  background-color: #7e4242;
}

.bg-red-theme {
  --tw-bg-opacity: .98;
  background-color: rgb(73 44 44 / var(--tw-bg-opacity));
}

.box-pop {
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}

/* Homepage styles */

.homepage-img {
  height: 92vh;
}

.homepage-img-text {
  transform: translate(-50%, -50%);
  text-shadow: black 0 0 1px;
}

.section-transition {
  transition-property: all;
  transition-duration: 1s;
}

.learn-more:hover h2 {
  opacity: 1;
  animation: fadeInOutAnimation linear 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes fadeInOutAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: 1;
  }
}

.move-across-screen {
  left: 0%;
  animation: acrossScreenAnimation linear 20s;
  animation-iteration-count: infinite;
}
@keyframes acrossScreenAnimation {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.img-fade-in {
  animation: imgFadeInAnimation ease 2s
}
@keyframes imgFadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInAnimation ease 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bounce {
  animation: bounceAnimation linear 1.3s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
@keyframes bounceAnimation {
  0% {
    bottom: .5rem;
    opacity: .5;
  }
  50% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: .5rem;
    opacity: .5;
  }
}

