@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* html {
  background-color: #540b03;
} */

html {
  background-image: url('/background-img.png');
  background-size: cover;
}

.width-48 {
  width: 48%;
}

.bg-blue {
  background-color: #335c67;
}

.text-blue {
  color: #335c67;
}

.bg-cream {
  background-color: #fff3b0;
}
.text-cream {
  color: #fff3b0;
  text-shadow: black 0px 0px 4px;
}

.text-orange {
  color: #e09f3e;
}

.bg-orange {
  background-color: #e09f3e;
}

.box-pop {
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}
