@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  background-color: #540b03;
}

.bg-blue {
  background-color: #335c67;
}

.text-blue {
  color: #335c67;
}

.bg-cream {
  background-color: #fff3b0;
}
.text-cream {
  color: #fff3b0;
  text-shadow: black 0px 0px 1px;
}

.text-orange {
  color: #e09f3e;
}

.bg-orange {
  background-color: #e09f3e;
}
